/* Table Styling */
.battery-table {
    width: 100%;
    margin-top: 30px;
}
.battery-table th {
    background: #0056b3;
    color: white;
    text-align: center;
}
.battery-table td {
    text-align: center;
    vertical-align: middle;
}
.battery-table img {
    width: 120px;
    height: auto;
}