.battery-container {
    max-width: 1100px;
    margin: 30px auto;
    padding: 20px;
}

.table thead th {
    background: #0056b3;
    color: white;
    text-align: center;
    font-size: 16px;
}

.table tbody td {
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    padding: 12px;
}

.battery-img {
    width: 120px;
    height: auto;
    border-radius: 8px;
}

